.home_page {
  display: flex;
  flex-direction: column;

  & > * {
    padding-inline: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .home_page {
    & > * {
      padding-inline: 1rem;
    }
  }
}
