.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-block: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding-inline: 7rem;
}

.nav h3 {
  color: var(--primary-color);
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin: 0 1rem;
  color: var(--text-color);
  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

.nav ul li:last-child {
  position: relative;
}

.badge {
  display: none;
  position: absolute;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  top: -18px;
  right: -15px;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--primary-color);
  }

  .nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
