.repair_service {
  background-color: black;
  /* background-image: url('../img/feb9281fae1bb51e58239b2d02160f80.jpg'); */
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;

  div {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 3rem;
      font-weight: bold;
      margin-block: 1rem;
      span {
        color: red;
      }
    }
    button {
      background-color: white;
      outline: none;
      border: none;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 1.5rem;
      padding-block: 1rem;
    }
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 1rem !important;
  }
}
