.hero {
  width: 100%;
  /* height: 0vh; */
  padding-top: 7rem;
  background-color: var(--background-color);
}

.hero_slider {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--background-color);
  align-items: center;
}

.hero_slider > :first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 4rem;
    margin-block: 1.2rem;
  }
  a {
    text-decoration: none;
    margin-top: 1rem;
    margin-left: 2rem;
  }
}

.hero_slider > :nth-child(2) {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: flex-end;
  /* margin-left: 100px; */
  .hero_img {
    width: 100%;
    max-width: 450px; /* Adjust size for desktop */
    height: 500px; /* Force same height */
    object-fit: contain; /* keep image proportion without stretching */
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .hero_slider {
    flex-direction: column-reverse;
    min-height: 100vh;
  }

  h1 {
    font-size: 5rem !important;
    @media screen and (max-width: 540px) {
      font-size: 2.5rem !important;
    }
  }
  .hero_slider > :first-child {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px !important;
    padding-top: 0;
    padding-bottom: 1rem;
  }
}
